header {
    background: white url(../images/logo.png) 20px center no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    display: flex;
    #position: fixed;
}
header .logo {
    margin-left: 20px;
    height: 100%;
    width: 100%;
}

#api_status {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  border-radius: 100%;
  background-color: #cccccc;
}

#api_status.available {
  background-color: #ff545f;
}
