body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body .container {
    max-width: 1000px;
    margin: 30px auto;
}

nav {
    font-size: 14px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
}

nav .prev_next {
    max-width: 750px;
    align-items: center;
}

nav a .previous {
  justify-content: start;
}
