/* Filter Styles */

.filters {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 70px;
    width: 100%;
}

/* search button */
.filters button {
    background: #4CAF4C;
    border: none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 18px;
    height: 40px;
    margin: 15px;
    width: 20%;
}

/* search button:hover */
.filters button:hover {
    background-color: #4CAF4C;
}

/* Matches and Odds */
.match,
.odds,
.results{
    display: inline-block;
    height: 100%;
    width: 25%;
}

/* Matches header style */

/* Matches header */
.filters h2,
.filters h3,
.filters h4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Header 3 style */
.filters h3 {
    font-size: 1.17em;
    font-weight: 600;
    height: 50%;
    padding: 15.5px 0 0 30px;
}

/* Header 4 style */
.filters h4 {
    font-size: 14px;
    font-weight: 400;
    height: 50%;
    padding: 4.5px 0 12px 30px;
}
